
body {
    background: #fff;
    color: #222;
    font-family: arial,sans-serif;
    font-size: small;
}

#Header {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 15px;
    margin-bottom: 40px;
    line-height: 24px;

}

#Header a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    text-align: center;


}

#Header a:hover {
text-decoration: underline;
}

#Connexion {
    height: 32px;
    width: 101px;
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    margin-right: 20px;
}

#Square {
    width: 30px;
    height: 25px;
    background: url(google2.png) -133px 28px;
    align-self: center;
    margin-right: 5px;
    opacity: 0.5;

}

#Square:hover {
    opacity: 1;
}

#Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#Image {
    width: 100%;
    align-self: center;
    margin-bottom: 30px;
    margin-top: 100px;

}

#Searchbar {
    background: #fff;
    display: flex;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 584px;
}

#Searchbar:hover {

    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0 , 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#Buttons {
    width: 100%;
    margin: 20px 0 5px 0;
    display: flex;
    justify-content: center;
}

#googlepic {
    display: block;
    margin: 0 auto;
}

#Form {
    margin: 0 10px;
    border: none;

}

.bouton {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;

}

.bouton:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:visited {
    color: #609;
}

a:hover, a:active {
    text-decoration: underline;
}